<div class="card">
    <div class="card-body">
        <%= customer.name %>
    </div>
    <div class="card-footer">
        <% if policy(Customer).update? %>
            <%= link_to 'Editar', edit_customer_path(customer) %>
        <% end %>
    </div>
</div>